
                        #ajax_loader{
                        	text-align: center;
                        }
                        .ui-block-a, .ui-block-b, .ui-block-c {
                          text-align : center;                         
                        }
                        #tablaregistros .ui-block-a, #tablaregistros .ui-block-b, #tablaregistros .ui-block-c{
                            border: 1px solid white;
                            height: auto;
                            font-weight: bold;
                            text-align: center;
                            padding: 5px;
                        }